h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 40px;
    line-height: 54px;
    color: #6ac943;
    font-family: "Montserrat", sans-serif;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 18px;
    color: #302C2C;
    margin: 15px 0 20px 0;
    font-family: "Montserrat", sans-serif;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/*Banner*/

.slider{
    width: 1272px;
    max-width: 100%;
    height: 90vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1272px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #266C0B;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #266C0B;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #266C0B;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #266C0B;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(red, green, blue, alpha);
    border: 1px solid #6AC943;
    border-radius: 10px;
    margin: 15px 0;
    background: #FFFAF0;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    background-color: #266C0B;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #266C0B;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #266C0B;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #266C0B;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #266C0B;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #266C0B;
}

#product1 {
    text-align: center;
    border: 1px solid #FFFAF0;
    padding: 20px;
    background: #FFFAF0;
    border-radius: 50px;
    padding-right: 70px;
    padding-left: 70px;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    transition: transform 0.5s ease-in-out;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #6AC943;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 10px;
    transition: 0.2s ease;
    position: relative;
    background: #ffffff;
}

#product1 .pro-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
}

.scroll::-webkit-scrollbar {
    width: 0.5em;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #302C2C;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #302C2C;
    font-size: 14px;
    transition: color 0.3s ease;
}

#product1 .pro .des h5:hover {
    color: #266C0B; 
}
#product1 .pro .des i {
    font-size: 12px;
    color: #0e0d0d;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #266C0B;
}

#product1 .pro .star i {
    color: #eeee13;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #ffffff;
    font-weight: 500;
    border: 1px solid #6AC943;
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: #6AC943;
    transition: color 0.3s ease;
}

#product1 .pro .cart:hover {
    color: #266C0B; 
}

.section-p1 .fa-circle-chevron-left {
    font-size: 30px;
    color: #6AC943;
    margin-top: -20px;
    margin-left: 30px;
    float: left;
    cursor: pointer;
    transition: color 0.3s ease;
}

.section-p1 .fa-circle-chevron-left:hover {
    color: #266C0B;
}

.section-p1 .fa-circle-chevron-right {
    font-size: 30px;
    color: #6AC943;
    margin-top: -20px;
    margin-right: 30px;
    float: right;
    cursor: pointer;
    transition: color 0.3s ease;
}

.section-p1 .fa-circle-chevron-right:hover {
    color: #266C0B;
}

.blogcontainer{
    width: 100%;
    background-color: #FFFAF0;
}

.blog-section{
    width: 85%;
    margin: 20px auto;
}

.blog-section .blogtitle{
    width: 60%;
    text-align: center;
    margin: auto;
}

.blog-section .blogtitle h2{
    font-size: 40px;
    color: #6AC943;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
}

.blog-section .blogtitle p{
    font-size: 18px;
    color: #302C2C;
    font-family: "Montserrat", sans-serif;
    margin: 15px 0 20px 0;
}

.blogcards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 25px auto;

}

.blogcards .blogcard{
    width: 100%;
    position: relative;
}

.blogimage img{
    width: 100%;
    height: auto;
}

.blogcontent{
    padding: 15px 20px;
}

.blogcontent h4{
    font-size: 24px;
    color: #302C2C;
    font-weight: 500;
}

.blogcontent p{
    color: #656565;
    font-size: 15px;
}

.blogcontent a{
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    display: inline-block;
    background-color: #266C0B;
    padding: 8px 15px;
}

.blogcard .blogposted-date{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #6AC943;
    padding: 6px 15px;
}




@media screen and (max-width: 768px){
    .slider{
        
        height: 400px;
    }
}

@media screen and (max-width: 576px) {
    .slider {
       
        height: 300px;
    }
}

@media screen and (max-width: 992px) {
    .blogcards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .blogcards{
        grid-template-columns: 1fr;
    }
}



